{% extends "layout/base.html" %}

{% block title_Block %}Estadísticas{% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-estadisticas.css') }}">
{% endblock %}

{% block page_Block %} - Estadísticas{% endblock %}

{% block contents_Block %}
<!-- CONTENIDO -->
<div class="estadisticas-container text-center">
  <h2 class="mb-4 estadisticas-title">📊 Estadísticas de Juego</h2>

  <form method="POST" action="{{ url_for('estadisticas_mostrar') }}" id="filtroForm">
    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo de juego:</label>
      <select name="tipo" id="tipo" onchange="document.getElementById('filtroForm').submit();">
        <option value="ruleta" {% if tipo=='ruleta' %}selected{% endif %}>Ruleta</option>
        <option value="tragaperras" {% if tipo=='tragaperras' %}selected{% endif %}>Tragaperras</option>
        <option value="snake" {% if tipo=='snake' %}selected{% endif %}>Snake</option>
        <option value="blackjack" {% if tipo=='blackjack' %}selected{% endif %}>Blackjack</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="alcance" class="form-label">Alcance:</label>
      <select name="alcance" id="alcance" onchange="document.getElementById('filtroForm').submit();">
        <option value="global" {% if alcance=='global' %}selected{% endif %}>Global</option>
        <option value="propias" {% if alcance=='propias' %}selected{% endif %}>Mis resultados</option>
      </select>
    </div>
  </form>

  <canvas id="grafico"></canvas>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}

{% block scripts_Block %}
<script>
  const data = JSON.parse('{{ data | tojson | safe }}');
</script>
<!-- CHART JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
{% endblock %}