html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2rem;
  height: auto;
  background-color: black;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-logo {
  all: unset;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.header-logo img {
  max-width: 3rem;
  height: auto;
  filter: drop-shadow(3px 4px 0px #00b386);
}

.header-logo h3 {
  margin: 4px 0 0 3px;
  padding: 0;
  justify-content: center;
}

.header-logo h3>span {
  color: #00b386;
}

.dropdown img {
  cursor: pointer;
  max-width: 3rem;
  border-radius: 100%;
}

.btn {
  background-color: #00b386;
  font-weight: 600;
  border: 3px solid #054b3a;
  color: black;
  transition: all 0.23s ease-in-out;
}

.btn:hover {
  background-color: #054b3a;
  border: 3px solid #00b386;
  color: #d4e8e3;
}

.btn-volver {
  background-color: #00b386;
  border: 3px solid #054b3a;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  align-content: center;
  color: black;
  width: 5.8rem;
  height: 2.5rem;
  transition: all 0.23s ease-in-out;
}

.btn-volver:hover {
  background-color: #054b3a;
  border: 3px solid #00b386;
  color: #d4e8e3;
}

.btn-login,
.btn-join {
  width: 5.3rem;
}

.btn-primary {
  background-color: #0fb1d2;
  border: 3px solid #043e95;
}

.btn-primary:hover {
  background-color: #043e95;
  border: 3px solid #0fb1d2;
  color: #f3f2fc;
}

.btn-danger {
  background-color: #ed143d;
  border: 3px solid #880c22;
}

.btn-danger:hover {
  background-color: #880c22;
  border: 3px solid #ed143d;
  color: #f3f2fc;
}

/* Alertas */
.alert {
  padding: 0.6rem;
  margin-left: auto;
  margin-right: 1rem;
  position: relative;
  margin-bottom: 5px;
  width: 31rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
}

.alert.hide {
  opacity: 0;
  transform: translateY(-10px);
}

.alert-success {
  background-color: #32a65d;
  color: white;
}

.alert-danger {
  background-color: #da3b30;
  color: white;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}