.main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}

.blackjack-container {
    max-width: 62rem;
}

#divBotones {
    padding: .8rem;
}

.content-player h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.content-player span {
    color: red;
}

.carta {
    position: relative;
    width: 9rem;
    left: 6.3rem;
    margin-left: -75px;
    object-fit: cover;
}

#jugador-cartas,
#computadora-cartas {
    height: 15rem;
    width: 100%;
}

.resultado-box {
    width: 100%;
    height: 7rem;
    max-width: 20rem;
    margin: 1rem auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-success{
    color: #079217 !important;
    margin: 0;
}

.text-danger{
    color: #980808 !important;
    margin: 0;
}