.form-container {
  margin: 3rem auto;
  background-color: #000;
  color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.2);
}

.form-login{
    max-width: 24rem;
}

.form-join{
    max-width: 40rem;
}

.formulario .form-control{
  background-color: #2d2c2c;
  color: white;
  border-color: #00b386;
}

.formulario .form-control:focus {
  box-shadow: none;
  border-color: #00b386;
  background-color: #2d2c2c;
  color: white;
}

.text-info {
  color: #0fb1d2 !important;
  cursor: pointer;
}