.game-options {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.game-options {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}


.game-options img:hover {
  transform: scale(1.05);
  cursor: pointer;
}