  .main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }

  .formulario {
    width: 25%;
  }

  .formulario .form-select,
  .formulario .form-control {
    background-color: #2d2c2c;
    color: white;
    border-color: #00b386;
  }

  canvas {
    border: 5px solid #00b386;
    border-radius: 50%;
  }

  .flecha {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%) rotate(180deg);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid yellow;
    z-index: 10;
  }

  .ruleta-wrapper {
    position: relative;
    text-align: center;
    width: 500px;
  }

  .resultado-box {
    width: 25%;
  }