<!-- Ivan Josue Quimi Ramirez y asociados-->
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FNAF.BET</title>
    <!-- Aniadir logo de favicon a la pagina-->
    <link rel="icon" href="../../static/imagenes/LOGO.png" type="image/png">
    <!-- LLamar al Css-->
    <link rel="stylesheet" href="../../static/decoracion/de-index.css">
    <link rel="stylesheet" href="../../static/decoracion/de-depositar.css">



</head>

<body style="display:inline-flexbox;">



    <!-- Cabecera parte superior -->
    <header class="encima" style="display: flex; ">

        <!-- Codigo logo imagen-->
        <div style="padding-top: 10px; margin-left: 50px; ">
            <div style="position: absolute; padding-top: 22px;">
                <img style="width: 100px" src="../../static/Imagenes/LOGO.png">
            </div>
            <div style="padding-left: 80px; padding-top:10px ">

                <a href="../principal.html" style="text-decoration: none;">
                    <h1 class="Roboto" style="color: white">FNAF<h style="color:aqua">.BET</h>
                    </h1>
                </a>

            </div>
        </div>

        <button type="button" class="icono_rayas">
            <img src="../../static/Imagenes/BOTON FOTO.png" href="../" alt="Botón con imagen">

        </button>

    </header>

    <!-- Fondo y cierre de la cabecera superior -->
    <div>
        <div class="cabecera"></div>
        <div class="fondoizqui1"></div>
    </div>

    <!--Depositar-->
    <a href="{{ url_for('Depositar') }}">
        <button class="cuadro" style="left: 60px; top: 12rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:10px; color: white">
                    Depo<h style="color:aqua">sitar</h>
                </h1>
            </div>
        </button>
    </a>

    <!--Retirar-->
    <a href="{{ url_for('retirar') }}">
        <button class="cuadro" style=" left: 60px; top: 24rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:10px; color: white">
                    Ret<h style="color:aqua">irar</h>
                </h1>
            </div>
        </button>
    </a>

    <!--Cuenta Bancaria-->
    <a href="{{ url_for('Cuenta_bancaria') }}">
        <!--Cuenta Bancaria-->
        <button class="cuadro1" style="left: 60px; top: 36rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:-4px; color: white">
                    Cuenta<h style="color:aqua"><br>Bancaria</h>
                </h1>
            </div>
        </button>
    </a>

    <!--cuadro medio-->
    <style>
        ::placeholder {
            font-size: 0.7em;
        }
    </style>
    
    <form action="{{ url_for('cuenta.guardar_cuenta_bancaria') }}" method="POST" class="Roboto cuadro5" style="font-size: 15px;">

    <div>
        <h1 style="color: aliceblue; margin-left:32rem; margin-top:4.3rem">Banco</h1>
        <input name="nombre_banco" placeholder=" Pichincha" class="cuadro9" required>
    </div>

    <div>
        <h1 style="color: aliceblue; margin-left:4.3rem; margin-top:-3.6rem">Cédula</h1>
        <input name="cedula" placeholder="1317889678" class="cuadro9" style="left: 70px" required>
    </div>

    <div>
        <h1 style="color: aliceblue; margin-left:4.5rem; margin-top:5rem">Número de Cuenta</h1>
        <input name="numero_cuenta" placeholder="3666-333-4654" class="cuadro9" style="left: 70px; top:15rem" required>
    </div>

    <button type="submit" class="cuadro10"><b>Guardar</b></button>
</form>

    <div style="position: absolute; left: 15rem; top: 7rem;">
    <a href="{{ url_for('principal') }}"> <img src="../../static/Imagenes/casita.png"
            style="width: 50px;position:absolute; left: 50px;"></a>
</div>



{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message flash-{{ 'success' if category == 'success' else 'error' }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>

</html>