<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FNAF.BET</title>
    <!-- Aniadir logo de favicon a la pagina-->
    <link rel="icon" href="../../static/image/LOGO.png" type="image/png">
    <!-- LLamar al Css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/de-index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/de-depositar.css') }}">


</head>

<body style="display:inline-flexbox;">



    <!-- Cabecera parte superior -->
    <header class="encima" style="display: flex; ">

        <!-- Codigo logo imagen-->
        <div style="padding-top: 10px; margin-left: 50px; ">
            <div style="position: absolute; padding-top: 22px;">
                <img style="width: 100px" src="../../static/Image/LOGO.png">
            </div>
            <div style="padding-left: 80px; padding-top:10px ">

                <a href="{{ url_for('principal') }}" style="text-decoration: none;">
                    <h1 class="Roboto" style="color: white">FNAF<h style="color:aqua">.BET</h>
                    </h1>
                </a>

            </div>
        </div>

        <button type="button" class="icono_rayas">
            <img src="../../static/Image/BOTON FOTO.png" href="../" alt="Botón con imagen">

        </button>

    </header>

    <!-- Fondo y cierre de la cabecera superior -->
    <div>
        <div class="cabecera"></div>
        <div class="fondoizqui1"></div>
    </div>

    <!--Depositar-->
    <a href="{{ url_for('Depositar') }}">
        <button class="cuadro" style="left: 60px; top: 12rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:10px; color: white">
                    Depo<h style="color:aqua">sitar</h>
                </h1>
                <link href="{{ url_for('Depositar') }}">
            </div>
        </button>
    </a>
    <!--Retirar-->
    <a href="{{ url_for('retirar') }}">
        <button class="cuadro" style=" left: 60px; top: 24rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:10px; color: white">
                    Ret<h style="color:aqua">irar</h>
                </h1>
                <link href="{{ url_for('retirar') }}">
            </div>
        </button>
    </a>

    <a href="{{ url_for('Cuenta_bancaria') }}">
        <!--Cuenta Bancaria-->
        <button class="cuadro1" style="left: 60px; top: 36rem">
            <div class="padre Roboto ">
                <h1 class="contorno" style="margin-top:-4px; color: white">
                    Cuenta<h style="color:aqua"><br>Bancaria</h>
                </h1>
            </div>
        </button>
    </a>
    <!--cuadro medio-->


    <form id="depositarForm" method="POST" action="{{ url_for('depositar_dinero.depositar_dinero') }}">
        <div class="cuadro2">
            <img class="visa" src="../../static/Image/Visa.png">
        </div>

        <input class="cuadro4" name="monto" placeholder="   $20" style="font-size: 30px;" type="number" step="0.01"
            required>

        <button class="cuadro3" type="submit">
            <div class="padre Roboto">
                <b style="margin-top:-10px;font-size: 38px;">Depositar</b>
            </div>
        </button>
    </form>



    <form id="depositarForm2" method="POST" action="{{ url_for('depositar_dinero.depositar_dinero') }} ">
        <div class="cuadro22">
            <img class="visa" src="../../static/Image/masterCard.png">
        </div>

        <input class="cuadro42" name="monto" placeholder="   $20" style="font-size: 30px;" type="number" step="0.01"
            required>

        <button class="cuadro32" type="submit">
            <div class="padre Roboto">
                <b style="margin-top:-10px; font-size: 38px;">Depositar</b>
            </div>
        </button>
    </form>


</body>


<div style="position: absolute; left: 15rem; top: 7rem;">
    <a href="{{ url_for('principal') }}"> <img src="../../static/Image/casita.png"
            style="width: 50px;position:absolute; left: 50px;"></a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message flash-{{ 'success' if category == 'success' else 'error' }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

</html>