{% extends "layout/base.html" %}

{% block title_Block %}Principal - {% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-principal.css') }}">
{% endblock %}

{% block contents_Block %}
<!-- Zona de botones -->
<div class="container text-center">
  <div class="button-grid">
    <a href="{{ url_for('tragamonedas') }}" class="button btn-main">
      <img src="{{ url_for('static', filename='Image/icon/iconSlotMachine.png') }}" alt="Tragamonedas">
      <span>Tragamonedas</span>
    </a>
    <a href="{{ url_for('ruleta') }}" class="button btn-main">
      <img src="{{ url_for('static', filename='Image/icon/iconRuleta.png') }}" alt="Ruleta">
      <span>Ruleta</span>
    </a>
    <a href="{{ url_for('blackjack') }}" class="button btn-main">
      <img src="{{ url_for('static', filename='Image/icon/iconBlackjack.png') }}" alt="Blackjack">
      <span>Blackjack</span>
    </a>
    <a href="{{ url_for('menujuegos') }}" class="button btn-main">
      <img src="{{ url_for('static', filename='Image/icon/iconGames.png') }}" alt="Juegos">
      <span>Juegos</span>
    </a>
    <a href="{{ url_for('Depositar') }}" class="button btn-main">
      <img src="{{ url_for('static', filename='Image/icon/iconCreditCard.png') }}" alt="Depositar">
      <span>Depositar</span>
    </a>
  </div>
</div>

<!-- Carrusel de publicidad -->
<div id="carouselPublicidad" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='Image/carrusel/Img1.png') }}" class="d_block w-100" alt="Publicidad 1">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='Image/carrusel/Img2.png') }}" class="d_block w-100" alt="Publicidad 2">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='Image/carrusel/Img3.png') }}" class="d_block w-100" alt="Publicidad 3">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts_Block %}
{% endblock %}

{% block footer_block %}
{% endblock %}