{% extends "layout/base.html" %}

{% block title_Block %}Login{% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-form.css') }}">
{% endblock %}

{% block page_Block %} - Iniciar sesión{% endblock %}

{% block contents_Block %}
<div class="form-container form-login">
  <h2 class="text-center mb-4">Iniciar sesión</h2>

  <form method="POST" action="{{ url_for('registro.login_usuario') }}" class="formulario">
    <div class="mb-3">
      <label for="email" class="form-label">Correo</label>
      <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-info w-100">Entrar</button>
  </form>

  <div class="text-center mt-3">
    <a href="{{ url_for('registro') }}" class="text-info">¿No tienes cuenta? Regístrate</a>
  </div>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}


{% block scripts_Block %}
{% endblock %}