{% extends "layout/base.html" %}

{% block title_Block %}Join{% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-form.css') }}">
{% endblock %}

{% block page_Block %} - Registro{% endblock %}

{% block contents_Block %}
<div class="form-container form-join">
  <h2 class="text-center mb-4">Registro de Usuario</h2>

  <form method="POST" action="{{ url_for('registro.registro_usuario') }}" class="formulario" >
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="usuario" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" required>
      </div>
      <div class="col-md-6">
        <label for="correo" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="correo" name="correo" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="nombre1" class="form-label">Primer nombre</label>
        <input type="text" class="form-control" id="nombre1" name="nombre1" required>
      </div>
      <div class="col-md-6">
        <label for="nombre2" class="form-label">Segundo nombre</label>
        <input type="text" class="form-control" id="nombre2" name="nombre2">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="apellido1" class="form-label">Primer apellido</label>
        <input type="text" class="form-control" id="apellido1" name="apellido1" required>
      </div>
      <div class="col-md-6">
        <label for="apellido1" class="form-label">Segundo apellido</label>
        <input type="text" class="form-control" id="apellido2" name="apellido2">
      </div>
    </div>

    <div class="mb-3">
      <label for="contrasenia" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="contrasenia" name="contrasenia" required>
    </div>

    <button type="submit" class="btn btn-info w-100">Registrarse</button>
  </form>

  <div class="text-center mt-3">
    <a href="{{ url_for('login') }}" class="text-info">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</div>
{% endblock %}

{% block footer_block %}
{% endblock %}

{% block scripts_Block %}
{% endblock %}