{% extends "layout/base.html" %}

{% block title_Block %}Cuenta Bancaria - {% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-transacciones.css') }}">
{% endblock %}

{% block page_Block %} - Registro de Cuenta Bancaria {% endblock %}

{% block contents_Block %}
<!-- Botones Izquierda -->
<nav>
    <a href="{{ url_for('Depositar') }}">
        <button class="cuadro" style="left: 60px; top: 12rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Depo<span style="color:#00b386">sitar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('retirar') }}">
        <button class="cuadro" style="left: 60px; top: 24rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Ret<span style="color:#00b386">irar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('Cuenta_bancaria') }}">
        <button class="cuadro1" style="left: 60px; top: 36rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:-4px; color: white;">
                    Cuenta<span style="color:#00b386"><br>Bancaria</span>
                </h1>
            </div>
        </button>
    </a>
</nav>

<!--cuadro medio-->
<form action="{{ url_for('cuenta.guardar_cuenta_bancaria') }}" method="POST" class="cuadro5 formulario"
    style="font-size: 15px;">

    <div>
        <h1 style="color: aliceblue; margin-left:32rem; margin-top:4.3rem">Banco</h1>
        <input name="nombre_banco" placeholder=" Pichincha" class="cuadro9" required>
    </div>

    <div>
        <h1 style="color: aliceblue; margin-left:4.3rem; margin-top:-3.6rem">Cédula</h1>
        <input name="cedula" placeholder="1317889678" class="cuadro9" style="left: 70px" required>
    </div>

    <div>
        <h1 style="color: aliceblue; margin-left:4.5rem; margin-top:5rem">Número de Cuenta</h1>
        <input name="numero_cuenta" placeholder="3666-333-4654" class="cuadro9" style="left: 70px; top:15rem" required>
    </div>

    <button type="submit" class="cuadro10"><b>Guardar</b></button>
</form>

{% endblock %}

{% block scripts_Block %}
{% endblock %}

{% block footer_block %}
{% endblock %}