{% extends "layout/base.html" %}

{% block title_Block %}Depósito - {% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-transacciones.css') }}">
{% endblock %}

{% block page_Block %} - Depósitos {% endblock %}

{% block contents_Block %}

<!-- Botones Izquierda -->
<nav>
    <a href="{{ url_for('Depositar') }}">
        <button class="cuadro" style="left: 60px; top: 12rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Depo<span style="color:#00b386">sitar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('retirar') }}">
        <button class="cuadro" style="left: 60px; top: 24rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Ret<span style="color:#00b386">irar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('Cuenta_bancaria') }}">
        <button class="cuadro1" style="left: 60px; top: 36rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:-4px; color: white;">
                    Cuenta<span style="color:#00b386"><br>Bancaria</span>
                </h1>
            </div>
        </button>
    </a>
</nav>

<main>
    <!-- Formulario Visa -->
    <form id="depositarForm" method="POST" action="{{ url_for('depositar_dinero.depositar_dinero') }}" class="formulario">
        <div class="cuadro2">
            <img class="visa" src="../../static/Image/Visa.png" alt="Visa">
        </div>
        <input class="cuadro4" name="monto" placeholder="   $20" style="font-size: 30px;" type="number" step="0.01"
            required>
        <button class="cuadro3" type="submit">
            <div class="padre Roboto">
                <b style="margin-top:-10px;font-size: 38px;">Depositar</b>
            </div>
        </button>
    </form>

    <!-- Formulario MasterCard -->
    <form id="depositarForm2" method="POST" action="{{ url_for('depositar_dinero.depositar_dinero') }}" class="formulario">
        <div class="cuadro22">
            <img class="visa" src="../../static/Image/masterCard.png" alt="MasterCard">
        </div>
        <input class="cuadro42" name="monto" placeholder="   $20" style="font-size: 30px;" type="number" step="0.01"
            required>
        <button class="cuadro32" type="submit">
            <div class="padre Roboto">
                <b style="margin-top:-10px; font-size: 38px;">Depositar</b>
            </div>
        </button>
    </form>
</main>

{% endblock %}

{% block scripts_Block %}
{% endblock %}

{% block footer_block %}
{% endblock %}