{% extends "layout/base.html" %}

{% block title_Block %}Retirar - {% endblock %}

{% block head_Block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/de-transacciones.css') }}">
{% endblock %}

{% block page_Block %} - Retiros {% endblock %}

{% block contents_Block %}
<!-- Botones Izquierda -->
<nav>
    <a href="{{ url_for('Depositar') }}">
        <button class="cuadro" style="left: 60px; top: 12rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Depo<span style="color:#00b386">sitar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('retirar') }}">
        <button class="cuadro" style="left: 60px; top: 24rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:10px; color: white;">
                    Ret<span style="color:aqua">irar</span>
                </h1>
            </div>
        </button>
    </a>

    <a href="{{ url_for('Cuenta_bancaria') }}">
        <button class="cuadro1" style="left: 60px; top: 36rem;">
            <div class="padre Roboto">
                <h1 class="contorno" style="margin-top:-4px; color: white;">
                    Cuenta<span style="color:#00b386"><br>Bancaria</span>
                </h1>
            </div>
        </button>
    </a>
</nav>

<!--cuadro medio-->
<form method="POST" action="{{ url_for('retirar_dinero.vista_retirar') }}" class="formulario">
    <div class="padre Roboto cuadro5">
        <h1 class="contorno" style="z-index: 1;margin-top:-13rem; color: white;position: absolute; 
        font-size: 26px; margin-left: -12rem;">Escoger cuenta bancaria</h1>

        <div class="cuadro6" style="margin-top:-104px"></div>

        {% if cuentas %}
        <div>
            <select name="cuenta_id" class="contorno" required style="z-index: 1; margin-top:-4rem;
                    background-color: #999599; font-size: 26px; width: 27rem;
                    position: absolute; margin-left: -14rem;">
                {% for cuenta in cuentas %}
                <option value="{{ cuenta.id }}">
                    {{ cuenta.nombre_banco }} - {{ cuenta.numero_cuenta }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <p style="color: white; font-size: 20px; margin-top: 1rem;">No tienes cuentas bancarias registradas.</p>
        {% endif %}
    </div>


    <input name="cantidad" class="cuadro7" placeholder="$0.00" required>
    <button class="cuadro8" style="margin-left:20rem"><b>Retirar</b></button>


</form>

{% endblock %}

{% block scripts_Block %}
{% endblock %}

{% block footer_block %}
{% endblock %}