<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>FNAF.BET</title>

  <link rel="icon" href="../../static/Imagenes/LOGO.png">
  <link rel="stylesheet" href="../../static/decoracion/de-index.css">
  <link rel="stylesheet" href="../../static/decoracion/de-menujuegos.css">
</head>

<body>
    <body>
        <section class="layout2">
          <div class="header">
            <div style="margin-left: 50px;">
              <logo style="padding-top: 10px; margin-left: 50px;">
                <div style="position: absolute; padding-top: 30px;">
                  <img style="width: 100px" src="../../static/Imagenes/LOGO.png">
                </div>
                <img src="">
      
                <div style="padding-left: 80px; padding-top:10px ">
                  <h1 class="Roboto" style="color: white">FNAF<h style="color:aqua">.BET</h>
                  </h1>
                </div>
                
      
                <img style="margin-left: 85.4rem; margin-top: -70px; position: absolute; width: 50px;"
                  src="../../static/Imagenes/Usuario.png">
                <img style="margin-left: -0.5%; margin-top: -15px; position: absolute; width: 18%;"
                  src="../../static/Imagenes/shadowLogo.png">
                <img style="margin-left: 84.72rem; margin-top: -80px; position: absolute; width: 70px;"
                  src="../../static/Imagenes/cUsuario.png">
                <h5 class="Roboto" style="color: white; margin-left: 84.4rem; margin-top: -5px; position: absolute;">Jomico
                  No.02</h5>
      
              </logo>
              
            </div>
            <div class="cabecera"></div>
          </div>


          <div style="position: absolute; left: 43rem; top:22rem">
            <a href="../../static/principal.html"> <img src="../../static/Imagenes/casita.png"
                    style="width: 110px;position:absolute; left: 50px;"></a>
          </div>


    <div class="main">
        
        <section class="layout">
          <div>
            <a href="{{ url_for('snake') }}">
              <img src="../../static/Imagenes/snake_in.png">
            </a>
          </div>
  
          <div>
            <a href="{{ url_for('tresenraya') }}">
              <img src="../../static/Imagenes/tresenraya_in.png">
            </a>
          </div>
  
</body>